.home-container {
  display: flex;
  justify-content: center;
}

/* Card container css */
.card {
  width: 30%;
  padding: 1rem;
  border: 1px solid var(--card-border-color);
  background-color: var(--card-background-color);
  border-radius: 10px;
  margin: 0.5rem;
  text-align: center;
}
.card h2 {
  margin-bottom: 1rem;
}
.card h2:hover {
  cursor: pointer;
  color: var(--card-hover-color);
}
.card:hover {
  background-color: var(--card-border-color);
}

/* info container css */
.info,
.install-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.info {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}
.react-app-info {
  padding: 4%;
  margin: 0 auto;
  line-height: 2;
}
.code-info {
  color: var(--text-color);
  padding: 10px;
  width: 80%;
  border: 1px solid var(--card-background-color);
  background-color: var(--template-primary-color);
  border-radius: 10px;
}
.react-svg img {
  width: 90%;
  height: 90%;
  border-radius: 10px;
  object-fit: cover;
}

.dependecy-img {
  width: 70%;
  height: 70%;
}

.react-install-info {
  width: 60%;
  line-height: 2;
}
.hover-text {
  font-weight: bold;
  padding-left: 8rem;
  cursor: pointer;
}
@media (max-width: 768px) {
  .home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  .card {
    width: 50%;
    padding: 2%;
  }
  .info,
  .install-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .react-install-info {
    width: 80%;
    line-height: 2;
  }
  .hover-text {
    font-weight: bold;
    padding-left: 1rem;
    cursor: pointer;
  }
}
