.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.2rem;
  background-color: var(--navbar-background-color);
}

/* Logo and Title css */

.navbar-logo .navbar-link-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-title {
  padding-left: 0.5rem;
  font-weight: bold;
}

.navbar-title:hover {
  color: var(--title-primary-color);
}

.toggle {
  padding-right: 0.5rem;
}
/* Menu css */
.navbar-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: var(--text);
  font-weight: bold;
  padding: 1rem;
}

nav a.active {
  color: var(--color);
  border: 1px solid var(--card-border-color);
  border-radius: 10px;
  background-color: var(--card-background-color);
}

nav a:hover {
  color: var(--title-primary-color);
}

.hamburger-menu {
  display: none;
}
/* Media query for Max-width: 998px */
@media (max-width: 998px) {
  .menu-link {
    display: none;
  }
  .mobile-menu-link {
    position: absolute;
    top: 4rem;
    height: auto;
    display: flex;
    flex-direction: column;
    transition: all 2s linear;
    align-items: center;
  }
  .nav-search {
    display: none;
  }
  .hamburger-menu {
    display: flex;
  }
}
